langchain 
langchain_core
ipykernel
python-dotenv 
langchain_community
pypdf 
pymupdf 
bs4 
arxiv 
lxml
wikipedia
langchain-text-splitters
langchain-openai
langchain-ollama
chromadb 
sentence_transformers  
langchain_huggingface 
huggingface_hub
faiss-cpu  
chromadb 
langchain_chroma 
streamlit 
fastapi
gradio
uvicorn 
sse_starlette
langchain_groq
langserve[all]
arxiv
wikipedia 
duckduckgo-search 
asyncpg
sqlalchemy
mysql-connector-python
PyMySQL
psycopg2
pg8000
validators==0.28.1 
youtube_transcript_api 
unstructured 
pytube
yt-dlp
numexpr 
boto3 

langchain_nvidia_ai_endpoints 
crewai 
crewai_tools 
pinecone 
neo4j==5.14
lamini 

google-generativeai
langchain_google_genai


