langchain 
ipykernel
python-dotenv 
langchain_community
pypdf 
pymupdf 
bs4 
arxiv 
lxml
wikipedia
langchain-text-splitters
langchain-openai
langchain-ollama

chromadb 
sentence_transformers  
langchain_huggingface 
faiss-cpu  
chromadb 
langchain_chroma 


google-generativeai
langchain_google_genai